.im-container {
    width: 70%;
    margin: 33px auto;
}

.im-frame {
    margin: 7px;
    width: 100%;
    position: relative;
    height: 633px;
    border: 1px solid #ccc;   border-radius: 3px;
}

.im-top-pannel {
    padding: 3px 7px;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #ccc;
    background-color: #E7E7E7;
}

.im-center-pannel {
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 85%;
    position: relative;
}

.im-frame-left-container {
    height: 100%;
    width: 40%;
    border-right: 1px solid #ccc;
    float: left;
    position: relative;
}

.im-frame-right-container {
    height: 100%;
    width: 59%;
    border-left: 1px solid #ccc;
    float: right;
    position: relative;
}

#im-friend-or-group-info {
    height: 100%;
    width: 59%;
    border-left: 1px solid #ccc;
    float: right;
    position: relative;
}

.im-frame-bottom-panel {
    height: 5%;
    width: 100%;
}

.im-main-control {
    width: 30%;
    height: 100%;
    float: left;
    border-right: 1px solid #ccc;
    background-color: #3D3D3D;
}

.im-chat-list, .im-friend-list, .im-group-list {
    width: 70%;
    height: 100%;
    float: right;
    overflow-y: scroll;
}

.im-user-icon-container {
    width: 100%;
    height: 70px;
    position: relative;
    padding-top: 10px;
    margin-bottom: 53px;
}

.im-user-icon {
    width: 60px;
    height: 60px;
    margin: 7px auto;
}

#J-im-user-icon {
    border-radius: 37px;
}

#J_delete_desc {
    position: absolute;
    top: 3px;
    right: 7px;
    color: #ccc;
    cursor: pointer;
}

#J_delete_desc:hover {
    color: #000;
}

.im-btn-contact-list-container, .im-btn-group-list-container, .im-btn-chat-list-container {
    width: 100%;
    height: 50px;
    position: relative;
}

.im-btn-contact-list, .im-btn-group-list, .im-btn-chat-list{
    width: 40px;
    height: 40px;
    margin: 7px auto;
}

#J-im-btn-group-list, #J-im-btn-contact-list {
    width: 40px;
    height: 40px;
    margin: 7px auto;
}

.im-friend-item-container, .im-group-item-container{
    width: 100%;
    height: 70px;
}

.im-friend-item, .im-group-item {
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-left: 7px;
}

.im-friend-avatar-container, .im-group-avatar-container {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-right: 7px;
}

.im-friend-avatar, .im-group-avatar{
  border-radius: 3px;
}

.im-friend-info, .im-group-info {
    width: 100%;
    height: 100%;
    padding-left: 50px;
}

.im-friend-name, .im-group-name {
    padding-top: 10px;
    font-size: 7px;
}

.im-friend-item-container:hover {
  background-color: #E8E8E8;
}

.im-chat-info-container {
    width: 100%;
    height: 65%;
    border-bottom: #ccc 1px solid;
    position: relative;
    display: block;
}

.im-chat-input-container {
    width: 100%;
    height: 35%;
}

.im-chat-toolbar-container {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #ccc;
}

.im-chat-input-zone {
    width: 100%;
    height: 80%;
    padding: 1px;
}

.im-chat-input {
    width: 100%;
    height: 100%;
}

#J-im-input-text {
    width: 100%;
    border: none;
    height: 100%;
    text-align: left;
}

.im-cur-chat-with-container {
    width: 60%;
    height: 100%;
    float: right;
}

.im-cur-chat {
    height: 100%;
    width: 200px;
    margin: 1px auto;
    text-align: center;
    line-height: 43px;
}

.im-cur-chat:hover {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

/*用户和群组信息展示 begin*/
.im-friend-desc-container{
    width: 50%;
    height: 100%;
    margin: 20px auto;
}

.im-group-desc-container {
    width: 70%;
    height: 100%;
    margin: 20px auto;
}


.im-group-desc-img-container {
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 30px;
}

.im-group-member-desc-img {
    width: 60px;
    height: 60px;
    margin: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.im-group-member-desc-img:hover {
    background-color: #0ff;
    -webkit-animation-name: shake-little; -ms-animation-name: shake-little; animation-name: shake-little; -webkit-animation-duration: 100ms; -ms-animation-duration: 100ms; animation-duration: 100ms; -webkit-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; -ms-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-delay: 0s; -ms-animation-delay: 0s; animation-delay: 0s; -webkit-animation-play-state: running; -ms-animation-play-state: running; animation-play-state: running;
}


.im-group-desc-name {
    margin: 3px auto;
    margin-bottom: 33px;
    width: 100px;
    text-align: center;
}
.im-group-desc-contact {
    width: 90%;
    height: 50px;
    margin: 3px auto;
    text-align: center;
}

.im-friend-desc-img-container {
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

.im-friend-desc-img {
    border-radius: 93px;
    width: 150px;
    height: 150px;
}

.im-friend-desc-name {
    margin: 7px auto;
    width: 80%;
    text-align: center;
}

.im-friend-desc-contact {
    margin: 13px auto;
    text-align: center;
    margin-top: 60px;
}

#J-set-contact {
    padding: 13px 33px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #0099FF;
    color: #fff;
    margin-top: 30px;
}

#J-set-contact:hover {
    background-color: #006EFF;
}
/*用户的信息展示 end*/


/*发送会话的信息展示 begin*/

.im-sender-avatar-container {
    width: 40px;
    height: 40px;
    margin-right: 7px;
    position: absolute;
    top: 3px;
    right: 3px;
}

.conversation-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    border-bottom: 2px solid #fff;
}

img.im-sender-avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.im-sended-msg-container {
    width: 100%;
    position: relative;
    margin-top: 7px;
    margin-bottom: 13px;
}

.im-sender-content {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 3px;
}

.im-sender-msg-content-container {
    /*padding-left: 100px;*/
    padding-right: 57px;

    text-align: right;
    padding-top: 7px;
}

.im-received-msg-container {
    width: 100%;
    position: relative;
    margin-top: 7px;
    margin-bottom: 13px;
}
.im-received-avatar-container {
    width: 40px;
    height: 40px;
    margin-right: 7px;
    position: absolute;
    top: 3px;
    left: 3px;
}
img.im-received-avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.im-received-msg-content-container {
    /*padding-right: 100px;*/
    padding-left: 57px;

    padding-top: 7px;
}
.im-received-content {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 3px;
}

.im-friend-msg-info {
  position: absolute;
  left: 46px;
  font-size: 5px;
  top: 3px;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 17px;
  border-radius: 7px;
  background-color: red;
  color: #fff;
}

.im-received-content, .im-sender-content{
    display: inline-block;
    /*为了回车等空白符的展示,待定*/
    /*white-space: pre;
    line-height: 1;*/
    max-width: 350px;
    display: inline-block;
    word-wrap: normal;
    word-break: break-all;
    text-align: left;
}
/*发送会话的信息展示 end*/

/*接收富文本信息 start*/
.im-msg-send-plan-container {
    /*同 .im-received-msg-container*/
    width: 100%;
    /*position: relative;*/
    margin-top: 7px;
    margin-bottom: 13px;
}

.im-msg-send-avatar-container {
    /*同 .im-received-avatar-container*/
    width: 40px;
    height: 40px;
    margin-right: 7px;
    /*position: absolute;
    top: 3px;
    left: 3px;*/
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    margin-top: 3px;
}

.im-send-avatar{
    /*同 .im-received-avatar*/
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.im-msg-send-plan-content-container{
    display: inline-block;
    /*position: absolute;*/
    padding-left: 7px;
    /*同 .im-received-msg-content-container*/
    /*padding-left: 57px;*/
    padding-top: 7px;
}

.im-msg-send-plan-content {
    position: relative;
    /*同 .im-received-content*/
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px 5px;
}

.im-msg-send-plan-type{
    position: absolute;
    top: 10px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    font-size: 22px;
}

.im-msg-send-plan-content-image{
    width: 100px;
    height: 100px;
}

.im-msg-send-plan-content-text{
    display: inline-block;
    vertical-align: top;
    line-height: 1.5;
    margin: 0 10px;
    height: 100px;
    max-width: 200px;
    overflow: hidden;
}

.im-msg-send-plan-content-title{
    font-size: 20px;
    margin-bottom: 5px;
}

.im-msg-send-plan-content-time{
    font-size: 14px;
    margin-left: 3px;
}

.im-msg-send-plan-content-desc{
    font-size: 14px;
    margin-left: 2px;
}

/*接收富文本信息 end*/

/*抖动动画*/
@-webkit-keyframes shake-little { 0% { -webkit-transform: translate(0px, 0px) rotate(0deg); }
  2% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  4% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  6% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  8% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  10% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  12% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  14% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  16% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  18% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  20% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  22% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  24% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  26% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  28% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  30% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  32% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  34% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  36% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  38% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  40% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  42% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  44% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  46% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  48% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  50% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  52% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  54% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  56% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  58% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  60% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  62% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  64% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  66% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  68% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  70% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  72% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  74% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  76% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  78% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  80% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  82% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  84% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  86% { -webkit-transform: translate(0px, 0px) rotate(-0.5deg); }
  88% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  90% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  92% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); }
  94% { -webkit-transform: translate(0px, -1px) rotate(-0.5deg); }
  96% { -webkit-transform: translate(-1px, 0px) rotate(-0.5deg); }
  98% { -webkit-transform: translate(-1px, -1px) rotate(-0.5deg); } }

@-ms-keyframes shake-little { 0% { -ms-transform: translate(0px, 0px) rotate(0deg); }
  2% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  4% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  6% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  8% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  10% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  12% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  14% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  16% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  18% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  20% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  22% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  24% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  26% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  28% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  30% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  32% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  34% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  36% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  38% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  40% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  42% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  44% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  46% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  48% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  50% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  52% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  54% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  56% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  58% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  60% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  62% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  64% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  66% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  68% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  70% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  72% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  74% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  76% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  78% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  80% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  82% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  84% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  86% { -ms-transform: translate(-1px, 0px) rotate(-0.5deg); }
  88% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  90% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); }
  92% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  94% { -ms-transform: translate(-1px, -1px) rotate(-0.5deg); }
  96% { -ms-transform: translate(0px, -1px) rotate(-0.5deg); }
  98% { -ms-transform: translate(0px, 0px) rotate(-0.5deg); } }

@keyframes shake-little { 0% { transform: translate(0px, 0px) rotate(0deg); }
  2% { transform: translate(0px, 0px) rotate(-0.5deg); }
  4% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  6% { transform: translate(0px, -1px) rotate(-0.5deg); }
  8% { transform: translate(0px, 0px) rotate(-0.5deg); }
  10% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  12% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  14% { transform: translate(0px, 0px) rotate(-0.5deg); }
  16% { transform: translate(0px, 0px) rotate(-0.5deg); }
  18% { transform: translate(0px, -1px) rotate(-0.5deg); }
  20% { transform: translate(0px, 0px) rotate(-0.5deg); }
  22% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  24% { transform: translate(0px, 0px) rotate(-0.5deg); }
  26% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  28% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  30% { transform: translate(0px, 0px) rotate(-0.5deg); }
  32% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  34% { transform: translate(0px, -1px) rotate(-0.5deg); }
  36% { transform: translate(0px, -1px) rotate(-0.5deg); }
  38% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  40% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  42% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  44% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  46% { transform: translate(0px, -1px) rotate(-0.5deg); }
  48% { transform: translate(0px, 0px) rotate(-0.5deg); }
  50% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  52% { transform: translate(0px, 0px) rotate(-0.5deg); }
  54% { transform: translate(0px, 0px) rotate(-0.5deg); }
  56% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  58% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  60% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  62% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  64% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  66% { transform: translate(0px, -1px) rotate(-0.5deg); }
  68% { transform: translate(0px, -1px) rotate(-0.5deg); }
  70% { transform: translate(0px, -1px) rotate(-0.5deg); }
  72% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  74% { transform: translate(0px, -1px) rotate(-0.5deg); }
  76% { transform: translate(0px, 0px) rotate(-0.5deg); }
  78% { transform: translate(-1px, -1px) rotate(-0.5deg); }
  80% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  82% { transform: translate(0px, -1px) rotate(-0.5deg); }
  84% { transform: translate(0px, 0px) rotate(-0.5deg); }
  86% { transform: translate(0px, 0px) rotate(-0.5deg); }
  88% { transform: translate(0px, 0px) rotate(-0.5deg); }
  90% { transform: translate(-1px, 0px) rotate(-0.5deg); }
  92% { transform: translate(0px, 0px) rotate(-0.5deg); }
  94% { transform: translate(0px, -1px) rotate(-0.5deg); }
  96% { transform: translate(0px, 0px) rotate(-0.5deg); }
  98% { transform: translate(0px, 0px) rotate(-0.5deg); } }

/*全屏居中图片的样式 start*/
.center-image-container{
    position: fixed;
    z-index: 102;
}

.full-screen-shadow{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
}
/*全屏居中图片的样式 end*/

.emoji-container{
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
