.im-container {
    width: 70%;
    margin: 33px auto;
}

.im-frame {
    margin: 7px;
    width: 100%;
    position: relative;
    height: 533px;
    border: 1px solid #ccc;   border-radius: 3px;
}

.im-top-pannel {
    padding: 3px 7px;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #ccc;
    background-color: #E7E7E7;
}

.im-center-pannel {
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 80%;
    position: relative;
}

.im-frame-left-container {
    height: 100%;
    width: 40%;
    border-right: 1px solid #ccc;
    float: left;
    position: relative;
}

.im-frame-right-container {
    height: 100%;
    width: 59%;
    border-left: 1px solid #ccc;
    float: right;
    position: relative;
}

.im-frame-bottom-panel {
    height: 10%;
    width: 100%;
}

.im-main-control {
    width: 30%;
    height: 100%;
    float: left;
    border-right: 1px solid #ccc;
    background-color: #3D3D3D;
}

.im-contact-list {
    width: 70%;   height: 100%;
    float: right;
    overflow-y: scroll;
}

.im-user-icon-container {
    width: 100%;
    height: 70px;
    position: relative;
    padding-top: 10px;
    margin-bottom: 53px;
}

.im-user-icon {
    width: 60px;
    height: 60px;
    margin: 7px auto;
}

img#J-im-user-icon {
    border-radius: 37px;
}

.im-btn-contact-list-container, .im-btn-group-list-container {
    width: 100%;
    height: 50px;
    position: relative;
}

.im-btn-contact-list, .im-btn-group-list {
    width: 40px;
    height: 40px;
    margin: 7px auto;
}

img#J-im-btn-group-list, img#J-im-btn-contact-list {
    width: 40px;
    height: 40px;
    margin: 7px auto;
}

.im-friend-item-container {
    width: 100%;
    height: 70px;
}

.im-friend-item {
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-left: 7px;
}

.im-friend-avatar-container {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 10px;
    margin-right: 7px;
}

.im-friend-avatar {
  border-radius: 3px;
}

.im-friend-info {
    width: 100%;
    height: 100%;
    padding-left: 50px;
}

.im-friend-name {
    padding-top: 10px;
    font-size: 7px;
}

.im-friend-item-container:hover {
  background-color: #E8E8E8;
}

.im-chat-info-container {
    width: 100%;
    height: 65%;
    border-bottom: #ccc 1px solid;
    position: relative;
    display: block;
}

.im-chat-input-container {
    width: 100%;
    height: 35%;
    position: relative;
    display: block;
}

.im-chat-toolbar-container {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #ccc;
}

.im-chat-input-zone {
    width: 100%;
    height: 80%;
    padding: 1px;
}

.im-chat-input {
    position: relative;
    width: 100%;
    height: 100%;
}

#J-im-input-text {
    width: 100%;
    border: none;
    height: 100%;
    text-align: left;
}

.im-cur-chat-with-container {
    width: 60%;
    height: 100%;
    float: right;
    position: relative;
}

.im-cur-chat {
    height: 100%;
    width: 200px;
    margin: 1px auto;
    text-align: center;
    line-height: 43px;
}

.im-cur-chat:hover {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
